<html>
    <head>
        <h1 style="text-align:center; margin-top: 190px;">
            Xtensive Weather Xplorer
        </h1>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">    
        <link rel="stylesheet" href="assets/style.css">    
    </head>
    <body>
        <br/>
    <div class="container" style="width:500px;margin:0 auto">
        <div class="row">
                <form method="POST" action="/result2">
                    <center>
                    Enter location   <input type="text" id="locationname" name="locationname" style="width:300px; background:rgba(255,255,255, 0.5); border:1px solid black"/>
                    <input type="submit" value="Search" class="button"/>
                </center>                
                </form>  
                <br/>
                <em><center>(Made with Cold Coffee + Code by Gautam)</center></em>

        </div>
    </div>
    </body>
</html>